.animated-gradient-text {
  background: linear-gradient(270deg, #cd66a4, #635fe4, #3d81a3, #d755a3, #6aeba2);
  background-size: 800% 800%;
  animation: gradient-animation 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
